@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Light.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-LightItalic.otf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Black.otf") format("opentype");
    font-weight: 900;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
	font-size: 15px;
	line-height: 140%;
	font-variant-numeric: oldstyle-nums;
}

b {
    font-weight: bold;
}


h1{
    font-weight: 900;
    line-height: 120%;
}

a:link {
	color: #00a;
	text-decoration: none;
	border-bottom: none;
}

a:visited {
	color: #00a;
	text-decoration: none;
	border-bottom: 1px dotted #b8b;
}

a:hover {
	color: #800;
	background-color: #fee;
	border-bottom: none;
	text-decoration: none;
}

a:active {
	color: #f00;
}
